@font-face {
    font-family: "libre-regular";
    src: url(./fonts/LibreBaskerville-Regular.woff2) format('.woff2');
    src: url(./fonts/LibreBaskerville-Regular.woff) format('.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    /* color pallete */
    --dark-brown: rgba(83,47,23,255);
    --light-brown: rgba(221,172,114,255);
    --brown-red: rgba(142,51,33,255);
    --white: rgba(254,255,250,255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "libre-regular";
}

body {
    height: 100vh;
    background-image: url(./img/bg-restaurant.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: 10% 90%;
}

header {
    background-color: var(--brown-red);

    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        width: 56%;
        height: 80%;

        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            width: 15%;
            height: 80%;
            border: none;
            border-radius: 6px;
            background-color: var(--white);
            color: var(--dark-brown);
            font-size: 1.5rem;
        }
    }
}

#content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    overflow: auto;

    & > div {
        flex-shrink: 0;
        height: 80%;
        width: 80%;
        background-color: rgb(10, 10, 10, .8);
        border-radius: 6px;
        margin: 1rem 0;
    }

    #resto-description {
        display: flex;
        align-items: center;
        padding: 1rem;

        & > div {
            height: 80%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #short-description {
            padding: 1rem;
            border-right: .1rem solid var(--white);

            p {
                color: var(--white);
                font-size: 2rem;
            }
        }

        #book-button {
            button {
                height: 30%;
                width: 80%;

                font-size: 3rem;
                color: var(--dark-brown);

                border: none;
                border-radius: 6px;
            }
        }
    }
}